@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #09141E;
    color: var(--text-clr);
    font-size: 16px;
    position: relative;
}

@media only screen and (min-width: 768px){

    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before{
        width: 70vw;
    }

    .main::after{
        width:70vw;
    }
}