/* Barra Lateral */
nav.menu-lateral {
    width: 60px;
    height: 100%;
    background-color: #09141E;
    padding: 40px 0px 20px 0;
    box-shadow: 3px 0 0 #1b98e0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir {
    width: 180px;
}

.btn-exapndir {
    width: 100%;
    padding: 0 0 15px 40px;
}

.btn-exapndir > i {
    color: #e8f1f2;
    font-size: 20px;
    cursor: pointer;
    margin-left: 18px;
}

ul {
    height: 100%;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li.ativo {
    background-color: #1b98e0;
}

ul li.item-menu:hover {
    background: #1b98e0;
}

ul li.item-menu a {
    color: #e8f1f2;
    text-decoration: none;
    font-size: 15px;
    padding: 0 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    margin-left: 17px;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 20px;
}